<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Plan de Control de Proceso</h1>
  <p class="lead">Una aplicación para documentar el plan de control de proceso con las tecnologias Nodejs, Express,
    Mongodb and Javascript.</p>
  <hr class="my-4" />
  <p>Este proyecto permite capturar elementos de control para un proceso productivo en base a los requerimientos de la AIAG.
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Register</a>
  </div>
</div>